body {
    background-color: lightblue;
    font-family: Liberation serif;
}

h1 {
    text-color: grey;
    font-family: Lobster;
}
.header-box {
    background-color: #cceeee;
    padding: 20px;
    margin: -15px;
    border-radius: 15%;
}
.about-box {
    font-family: Calibri;
    font-size: 28px;
    color: #226666;
    background-color: #77dddd;
    padding: 30px;
    margin: 80px;
    border-radius: 2em;
}

.portfolio-box {
    font-family: Calibri;
    font-size: 28px;
    color: #226666;
    background-color: #55bbbb;
    padding: 30px;
    margin: 80px;
    margin-top: -5px;
    border-radius: 2em;
}
.contact-box {
    font-family: Calibri;
    font-size: 28px;
    color: #226666;
    background-color: #88eeee;
    padding: 35px;
    margin: 80px;
    border-radius: 2em;
}
.my-portrait {
    border-radius: 2em;
}
button {
    font-family: Monospace;
    font-size: small;
    background-color: #99aaaa;
}
button:hover {
    background-color: #bbffff;
}
.bottom {
    margin-left: 60%;
    padding: -30px;
}
